plugins {
    id 'com.android.library'
}

android {
    namespace '{{packageId}}'
    compileSdk 30

    defaultConfig {
        minSdk {{minSdkVersion}}

{{additionalOptions}}
    }

    buildTypes {
        release {
            minifyEnabled false
        }
    }
    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

    lintOptions {
        abortOnError false
    }

    buildFeatures {
        buildConfig = false
    }
}

dependencies {
	// TODO: dependencies
}
