# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true

indent_style = tab
tab_width = 4

# IntelliJ Idea specific workarounds
continuation_indent_size = 8
ij_java_class_count_to_use_import_on_demand = 99

charset = utf-8
trim_trailing_whitespace = true

[*.yml]
indent_style = space
indent_size = 2

[*.bat]
end_of_line = crlf
