# Eclipse files
.classpath
.project
.settings/

# IntelliJ Idea files
.idea/
out/
*.iml
*.ipr
*.iws

bin/
target/
build/
classes/
idea/
.gradle/
gradle.properties

*-tmp/

*.dex
*.class
*.dump
*.log
*.cfg

