# Eclipse files
.classpath
.project
.settings/

# IntelliJ Idea files
.idea/
.run/
out/
*.iml
*.ipr
*.iws
.attach_pid*
*.hprof

**/.DS_Store

bin/
target/
build/
classes/
idea/
.gradle/
node_modules/

jadx-output/
*-tmp/
**/tmp/
*.jobf

*.class
*.dump
*.log
*.cfg
*.orig
quark.json

cliff.toml
jadx-gui/src/main/resources/logback.xml
