[Desktop Entry]
Name=JADX GUI Link Handler
Comment=Open jadx:// links in JADX GUI
Icon=jadx
Exec="{{launchScriptPath}}" %u
Terminal=false
Type=Application
NoDisplay=true
StartupWMClass=jadx-gui-JadxGUI
MimeType=x-scheme-handler/jadx;
