/**
  For script usage check https://github.com/skylot/jadx/blob/master/jadx-plugins/jadx-script/readme.md
*/

val jadx = getJadxInstance()

jadx.afterLoad {
	log.info { "Hello from jadx script!" }
}
